*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.header-section{
    background-color: #1F2937;
    padding-bottom: 120px;
}

.header-navbar{
    display: flex;
    justify-content: center;
    margin-right: 150px;
    margin-left: 150px;
}

.header-link .header-logo{
    flex: 1 1 auto;
}

.header-logo{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    flex-grow: 1;
    
}
.header-link{
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    padding-right: 30px;
}
.header-description{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    margin-right: 150px;
    margin-left: 150px;
    
}
.header-description-one .header-description-two{
    flex: 1 1 auto;
    
}
.header-description-one{
    flex-grow: 1;
    font-size: 40px;
    font-weight: 900;
    color: #f9faf8;
    padding-right: 60px;
}
.header-description-one h2{
    margin-bottom: 0;
}
.header-description-one p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
    
}

img{
   height: auto;
   width: 800px; 
   
   padding-right: 30px;
   
}

.info-section{
    display: flex;
    gap: 30px;
    padding-bottom: 100px;
}

.info-section div{
    border: 5px solid #3882f6;
    flex: 1 1 auto;
    border-radius: 10px;
    height: 200px;
    width: 50px;
}

.info-section .one{
    margin-left: 400px;
}
.info-section .two{
    margin-right: 400px;
}
h2 {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    font-size: 28px;
    color: #1F2937;
}

.quote-section-background{
    background-color: #e5e7eb; 
}

.quote-section{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-weight: 50;
    margin-left: 400px;
    margin-right: 400px;
}